# .NET and Dafny Test Results
**/TestResults

# Dafny Generated .NET
**/runtimes/**/ImplementationFromDafny.cs
**/runtimes/**/TestsFromDafny.cs

# Dafny Generated Java
**/runtimes/java/src/main/dafny-generated/
**/runtimes/java/src/test/dafny-generated/

# Dafny Generated Rust
**/runtimes/rust
**/runtimes/rust

# Polymorph Generated Dafny
**/Model/*Types.dfy
**/Model/*TypesWrapped.dfy
**/project.properties

# Polymorph Generated .NET
**/runtimes/net/Generated/*.cs
**/runtimes/**/Generated

# Polymorph Generated Java
**/runtimes/java/src/main/smithy-generated/

# .NET Artifacts
**/bin
**/obj

# JetBrains
**/.idea/
**/Folder.DotSettings.user
**/*.iml

# Maven
**/target

# Gradle
**/.gradle/
**/build/
**/gradle/
**/gradlew
**/gradlew.bat

# Mac OS X
**/.DS_Store