# .NET Test Results
**/TestResults

# Dafny Generated .NET
**/ImplementationFromDafny.cs
**/TestsFromDafny.cs

# .NET Artifacts
**/bin
**/obj

# JetBrains
**/.idea/

# Generated Dafny
*Types.dfy
**/*TypesWrapped.dfy