# This workflow runs for every pull request
name: PR CI

on:
  pull_request:

jobs:
  pr-populate-dafny-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Populate Dafny versions list
        id: populate-dafny-versions-list
        run: echo "dafny-versions-list=['4.2.0', '4.4.0']" >> $GITHUB_OUTPUT
    outputs:
      dafny-version-list: ${{ steps.populate-dafny-versions-list.outputs.dafny-versions-list }}

  # pr-ci-verification:
  #   needs: pr-populate-dafny-versions
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       dafny-version: ${{ fromJson(needs.pr-populate-dafny-versions.outputs.dafny-version-list) }}
  #   uses: ./.github/workflows/test_models_dafny_verification.yml
  #   with:
  #     dafny: ${{ matrix.dafny-version }}
  # pr-ci-java:
  #   needs: pr-populate-dafny-versions
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       dafny-version: ${{ fromJson(needs.pr-populate-dafny-versions.outputs.dafny-version-list) }}
  #   uses: ./.github/workflows/test_models_java_tests.yml
  #   with:
  #     dafny: ${{ matrix.dafny-version }}
  pr-ci-net:
    needs: pr-populate-dafny-versions
    strategy:
      fail-fast: false
      matrix:
        dafny-version: ${{ fromJson(needs.pr-populate-dafny-versions.outputs.dafny-version-list) }}
    uses: ./.github/workflows/test_models_net_tests.yml
    with:
      dafny: ${{ matrix.dafny-version }}
  # pr-ci-rust:
  #   needs: pr-populate-dafny-versions
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       # Rust code generation is under development and depends on pending changes to the
  #       # Dafny Rust code generation, so we test on a specific commit from the feat-rust feature branch instead.
  #       dafny-version:
  #         - ebe9aa5592bea6c0a7ed3fc204db2fb8addf0661
  #   uses: ./.github/workflows/test_models_rust_tests.yml
  #   with:
  #     dafny: ${{ matrix.dafny-version }}
